/* @import 'rsuite/dist/rsuite.min.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

button:focus-visible {
  outline: none !important;
}

.auth-content {
  min-height: calc(100vh - 5rem);
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator {
  /* display: none !important; */
  opacity: 0;
  z-index: 100;
}

input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder {
  /* display: none !important; */
  text-transform: uppercase !important;
}


.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.remove-arrow {
  -moz-appearance: textfield;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/*  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-background-clip: text;
  border-color: #0B8749;
}


.z-max {
  z-index: 9980;
}

.z-max-1 {
  z-index: 9999;
}

.table-line-loader {
  position: relative;
  overflow: hidden;
}

.table-line-loader:before {
  content: "";
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right,
      transparent 0%,
      #f7f7f7 50%,
      transparent 100%);
  animation: load 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes load {
  from {
    left: -150px;
  }

  to {
    left: 100%;
  }
}



body, * {
  font-family: 'General Sans', sans-serif;
}

.active-status-tab {
  position: relative;
}
.active-status-tab::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 2px;
  background-color: #0CAF60;
  border-radius: 22px;
}

.dropdown-active {
  box-shadow: 5px 5px 50px 0px #1a202c10;

}